language: python
python:
  - "3.6"
  - "3.7-dev"
  - "nightly"
install:
  - pip install python-dateutil iso8601 pytest
script:
  - py.test test_dateformat.py
  - pip install pytz
  - py.test test_dateformat.py